nRF24L01@serial.txt
[{"id":"f5af4ca5.df555","type":"function","z":"f9077377.79f49","name":"","func":"// msg.topic = \"SELECT * FROM nrf24l01 WHERE Sensordata > 390;\"\n// return msg;\n\n\n// msg.topic = \"SELECT * FROM nrf24l01;\"\n// return msg;\n\nvar Sensordata = msg.payload;\nvar Time = new Date();\nmsg.topic = \"INSERT INTO nrf24l01(Sensordata, Time) VALUES (\" + msg.payload + \",'\"+ Time + \"');\"\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["bf368b0.14c1978"]]},{"id":"82e83c8f.1ba38","type":"debug","z":"f9077377.79f49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":340,"wires":[]},{"id":"bf368b0.14c1978","type":"mysql","z":"f9077377.79f49","mydb":"64bec1b9.2f05d","name":"","x":730,"y":200,"wires":[[]]},{"id":"63ebf542.1983dc","type":"comment","z":"f9077377.79f49","name":"Reading the whole table in the database ","info":"","x":410,"y":60,"wires":[]},{"id":"948c38d3.ee6848","type":"comment","z":"f9077377.79f49","name":"Reading the content of the table in the database (with conditions) ","info":"","x":410,"y":280,"wires":[]},{"id":"2f60fdb0.df3662","type":"comment","z":"f9077377.79f49","name":"Writing into a particular table in the datbase specified in the SQL node with user credentials","info":"","x":430,"y":420,"wires":[]},{"id":"4ddd20df.a4ed9","type":"function","z":"f9077377.79f49","name":"","func":"var Sensordata = msg.payload;\nvar Time = new Date();\nmsg.topic = \"INSERT INTO nrf24l01(Sensordata, Time) VALUES (\" + msg.payload + \",'\"+ Time + \"');\"\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":460,"wires":[["bf368b0.14c1978"]]},{"id":"61ffd884.22bec8","type":"function","z":"f9077377.79f49","name":"","func":"// msg.topic = \"SELECT * FROM nrf24l01 WHERE Sensordata > 390;\"\n// return msg;\n\n\n\n","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["bf368b0.14c1978"]]},{"id":"4ea91c72.9aa474","type":"ui_gauge","z":"f9077377.79f49","name":"","group":"40586503.24038c","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":200,"wires":[]},{"id":"9da0e1ca.fdc9b","type":"comment","z":"f9077377.79f49","name":"Cofigure the SQL node for connecting to the SQL database with correct  host and port","info":"","x":730,"y":160,"wires":[]},{"id":"b71b8709.20e5b8","type":"comment","z":"f9077377.79f49","name":"Reads serial data from a valid terminal","info":"","x":280,"y":160,"wires":[]},{"id":"b3c6d136.481b9","type":"comment","z":"f9077377.79f49","name":"Used for debugging","info":"","x":870,"y":300,"wires":[]},{"id":"2ca6ce59.8d6da2","type":"ui_chart","z":"f9077377.79f49","name":"","group":"40586503.24038c","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":120,"wires":[[]]},{"id":"a13554f5.2177e8","type":"serial in","z":"f9077377.79f49","name":"","serial":"60515bf7.ce0ba4","x":210,"y":220,"wires":[["4ea91c72.9aa474","4ddd20df.a4ed9","2ca6ce59.8d6da2"]]},{"id":"64bec1b9.2f05d","type":"MySQLdatabase","z":0,"host":"127.0.0.1","port":"3306","db":"exampleDB","tz":""},{"id":"40586503.24038c","type":"ui_group","z":"","name":"Default","tab":"3b3402a1.49102e","disp":true,"width":"9","collapse":false},{"id":"60515bf7.ce0ba4","type":"serial-port","z":"","serialport":"COM16","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"3b3402a1.49102e","type":"ui_tab","z":"","name":"Test","icon":"dashboard","order":6,"disabled":false,"hidden":false}]